# Dependencies
node_modules/
jspdf/
jspdf-autotable/
xlsx/

# Production builds
dist/
dist-electron/
release/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
